
@using kShop;
@using kShopUmbraco;
@using System.IO;
	
@using System.Reflection;
@using umbraco.MacroEngines;

<h3>Din kundvagn</h3>
@{		
	Cart cart = new Cart(new CartManagerUmbraco());
    Catalog catalog = kShopUmbraco.Helper.getCatalog();
      
    
	
	<form method="post">
	<table>
		<tr>
			<td>Artikel</td><td>Antal</td><td>á-pris</td><td></td>
		</tr>
		@foreach ( CartedProduct child in cart.products ) 
		{
			<tr>
				<td>
					<a href="@ProductManagerUmbraco.getFrom(child.product).getNode().NiceUrl">@child.product.title</a>
				</td>
				<td>
					<input name="@("quantity_" + child.product.id)" value="@child.quantity" />
				</td>
				<td>
					@child.product.price
				</td>
				<td>
					@(child.product.price * child.quantity)
				</td>
			</tr>
		}
		<tr>
			<td></td><td></td><td>Summa:</td><td>@cart.getSum() </td>
		</tr>
	</table>
	
	<div class="cartInputLabel">Firstname</div><input name="firstname" value="@cart.firstname" /><br/>
	<div class="cartInputLabel">Lastname</div><input name="lastname" value="@cart.lastname" /><br/>
	<div class="cartInputLabel">Street</div><input name="street" value="@cart.street" /><br/>
	<div class="cartInputLabel">ZipCode</div><input name="zipcode" value="@cart.zipCode"/><br/>
	<div class="cartInputLabel">City</div><input name="city" value="@cart.city" /><br/>
	<div class="cartInputLabel">Email</div><input name="email" value="@cart.email"/><br/>
	<div class="cartInputLabel">Phone</div><input name="phone" value="@cart.phone" /><br/>

	

		<select name="paymentProvider">
		@{
            
			<option value="">Select payment provider</option>
			foreach ( PaymentController paymentController in catalog.getEnabledPaymentControllers() )
			{
				string selected = "";
				if ( cart.paymentController != null && cart.paymentController.id == paymentController.id )
				{
					selected = " selected";
				}
				else
				{
					selected = "";
				}
				<option value="@paymentController.id"@selected>@paymentController.paymentProvider.getName()</option>
			}
		}
		</select>
		<input type="submit" value="Update" name="updateCart" /> <input type="submit" value="Order" name="Order" />
	</form>
	<form method="post">
		<input type="submit" value="clearCart" name="clearCart" />
	</form>
}