
@using kShop;
@using kShopUmbraco;
@using System.IO;
	
@using System.Reflection;


<h3>Din kundvagn</h3>
@{		
	Cart cart = new Cart(new CartManagerUmbraco());
    
    if (HttpContext.Current.Request.Form["Order"] != null)
    {
        PaymentProvider paymentProvider = null;
        Assembly test1 = Assembly.LoadFrom(@"C:\inetpub\wwwroot\someshop\bin\dommyPaymentHandler.dll");
    
        foreach( Type type in test1.GetTypes() )
        {
            foreach( Type inter in type.GetInterfaces())
            {
                if (inter == (typeof(PaymentProvider)))
                {
                    paymentProvider = (PaymentProvider) Activator.CreateInstance(type);
                }
            }
        }
        
        
        if ( paymentProvider != null )
        {
            <span>Name of provider: @paymentProvider.getName()</span>
        }
    }
            
    
    if (HttpContext.Current.Request.Form["Order"] != null)
    {
        PaymentProvider paymentProvider = null;
        Assembly test1 = Assembly.LoadFrom(@"C:\inetpub\wwwroot\someshop\bin\dommyPaymentHandler.dll");
    
        foreach( Type type in test1.GetTypes() )
        {
            foreach( Type inter in type.GetInterfaces())
            {
                if (inter == (typeof(PaymentProvider)))
                {
                    paymentProvider = (PaymentProvider) Activator.CreateInstance(type);
                }
            }
        }
        
        
        if ( paymentProvider != null )
        {
            <span>Name of provider: @paymentProvider.getName()</span>
        }
    }
            
    
	
	<form method="post">
	<table>
		<tr>
			<td>Artikel</td><td>Antal</td><td>á-pris</td><td></td>
		</tr>
		@foreach ( CartedProduct child in cart.products ) 
		{
			<tr>
				<td>
					<a href="@ProductManagerUmbraco.getFrom(child.product).getNode().NiceUrl">@child.product.title</a>
				</td>
				<td>
					<input name="@("quantity_" + child.product.id)" value="@child.quantity" />
				</td>
				<td>
					@child.product.price
				</td>
				<td>
					@(child.product.price * child.quantity)
				</td>
			</tr>
		}
		<tr>
			<td></td><td></td><td>Summa:</td><td>@cart.getSum() </td>
		</tr>
	</table>

	<input type="submit" value="Update" name="updateCart" />
	</form>
	<form method="post">
		<input type="submit" value="Order" name="Order" />
	</form>
	<form method="post">
		<input type="submit" value="clearCart" name="clearCart" />
	</form>
}