
@using kShop;
@using kShopUmbraco;
@using System.IO;
	
@using System.Reflection;
@using umbraco.MacroEngines;

<h3>Din kundvagn</h3>
@{		
	Cart cart = new Cart(new CartManagerUmbraco());
    Catalog catalog = kShopUmbraco.Helper.getCatalog();
      
    
	
	<form method="post">
	<table>
		<tr>
			<td>Artikel</td><td>Antal</td><td>á-pris</td><td></td>
		</tr>
		@foreach ( CartedProduct child in cart.products ) 
		{
			<tr>
				<td>
					<a href="@ProductManagerUmbraco.getFrom(child.product).getNode().NiceUrl">@child.product.title</a>
				</td>
				<td>
					<input name="@("quantity_" + child.product.id)" value="@child.quantity" />
				</td>
				<td>
					@child.product.price
				</td>
				<td>
					@(child.product.price * child.quantity)
				</td>
			</tr>
		}
		<tr>
			<td></td><td></td><td>Summa:</td><td>@cart.getSum() </td>
		</tr>
	</table>
	
	Firstname<input name="firstname" value="@cart.firstname" /><br/>
	Lastname<input name="lastname" value="@cart.lastname" /><br/>
	Street<input name="street" value="@cart.street" /><br/>
	ZipCode<input name="zipcode" value="@cart.zipCode"/><br/>
	City<input name="city" value="@cart.city" /><br/>
	Email<input name="email" value="@cart.email"/><br/>
	Phone<input name="phone" value="@cart.phone" /><br/>

	<input type="submit" value="Update" name="updateCart" />
	</form>
	<form method="post" action="/orderprocessing.aspx">
		<select name="paymentProvider">
		@{
            
			foreach ( PaymentController paymentController in catalog.getEnabledPaymentControllers() )
			{
				<option value="@paymentController.id">@paymentController.paymentProvider.getName()</option>
			}
		}
		</select>
		<input type="submit" value="Order" name="Order" />
	</form>
	<form method="post">
		<input type="submit" value="clearCart" name="clearCart" />
	</form>
}