@using kShop; 
@using kShopUmbraco;
@using umbraco.NodeFactory;


@{
	Catalog catalog = new Catalog(new CatalogManagerUmbraco(@Model.Id));	
	
	
	<h1>@catalog.title</h1>;
	
	if ( catalog.categories.Count > 0 )
	{
		<h2>Categories</h2>
		foreach ( Category child in catalog.categories )
		{
			<a href="@CategoryManagerUmbraco.getFrom(child).getNode().NiceUrl">@child.title</a><br />
		}
	}
    
    if ( catalog.getAvailablePaymentProviders().Count > 0 )
    {
        <h2>PaymentProviders</h2>   
        foreach ( PaymentProvider paymentProvider in catalog.getAvailablePaymentProviders() )
        {
            <span>Payment Provider @paymentProvider.getName()</span><br />
        }
    }
    
}
